# Django settings
DEBUG=True
DJANGO_SECRET_KEY=django-insecure-y7s*g@0j1*_lq8+$=qsj-+tv15y!yjutbm8xj$sut3l@vzlh$f
DJANGO_ALLOWED_HOSTS=*

# Database
POSTGRES_DB=ecom
POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=ecom_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Email
EMAIL_HOST_USER=rakibul.islam7772588@gmail.com
EMAIL_HOST_PASSWORD=ceqb pkhe zlwu qldv
DEFAULT_FROM_EMAIL=rakibul.islam7772588@gmail.com


FRONTEND_URL=http://localhost:3000
